# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np # The Numpy numerical computing library
import pandas as pd # The Pandas data science library
import requests # The requests library for HTTP requests in Python
import xlsxwriter # The XlsxWriter libarary for 
import math # The Python math module
from scipy import stats # The SciPy stats module

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [3]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2039968454540,
 'week52high': 150.48,
 'week52low': 53.14,
 'week52highSplitAdjustOnly': 148.8,
 'week52lowSplitAdjustOnly': 54.4,
 'week52change': 0.8081628138056696,
 'sharesOutstanding': 17263319612,
 'float': 0,
 'avg10Volume': 115931248,
 'avg30Volume': 101946638,
 'day200MovingAvg': 126.81,
 'day50MovingAvg': 138.62,
 'employees': 149776,
 'ttmEPS': 3.82,
 'ttmDividendRate': 0.8426389566964837,
 'dividendYield': 0.006943049339748287,
 'nextDividendDate': '0',
 'exDividendDate': '2021-01-29',
 'nextEarningsDate': '2021-01-14',
 'peRatio': 33.15599103990524,
 'beta': 1.1495581629557756,
 'maxChangePercent': 45.55282845442878,
 'year5ChangePercent': 4.442870469134239,
 'year2ChangePercent': 1.9231297586983995,
 'year1ChangePercent': 0.6972734289744307,
 'ytdChangePercent': -0.09102270564130073,
 'month6ChangePercent': -0.027627335533130282,
 'month3ChangePercent': 0.04551018991831845,
 'month1ChangePercent': -0.1558141975779594,
 'day30ChangePercent': -0.1597011686550115,
 'day5ChangePercent': -0.06817038398411979}

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

In [4]:
data['year1ChangePercent']

0.6972734289744307

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [5]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [6]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker    Price One-Year Price Return Number of Shares to Buy
0        A  122.700              0.597649                     N/A
1      AAL   21.161            -0.0984346                     N/A
2      AAP  169.000              0.181783                     N/A
3     AAPL  129.387              0.702096                     N/A
4     ABBV  112.160              0.270613                     N/A
..     ...      ...                   ...                     ...
500    YUM  107.820             0.0936324                     N/A
501    ZBH  171.890              0.110572                     N/A
502   ZBRA  522.880               1.26522                     N/A
503   ZION   56.130              0.351739                     N/A
504    ZTS  159.310              0.171098                     N/A

[505 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [7]:
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe = final_dataframe[:51]
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker     Price One-Year Price Return Number of Shares to Buy
0     FCX    35.350               2.37054                     N/A
1    CARR    38.140               2.10063                     N/A
2    VIAC    66.020               1.62054                     N/A
3    ALGN   581.820               1.44039                     N/A
4    PYPL   260.300               1.37238                     N/A
5     PWR    88.010                1.2849                     N/A
6      LB    58.075                1.2777                     N/A
7    ZBRA   522.880               1.26522                     N/A
8    SIVB   524.253               1.25767                     N/A
9     URI   305.380               1.20384                     N/A
10     DE   364.170               1.17958                     N/A
11   TWTR    80.280               1.13373                     N/A
12   KLAC   312.830                1.1077                     N/A
13   NVDA   562.730               1.05284                     N/A
14   IDXX   528.900               1.04344                     N/A
15   ABMD   335.390               1.03983                     N/A
16   CDNS   148.730               1.02347                     N/A
17   AMAT   122.920              0.961511                     N/A
18   LRCX   599.850              0.937135                     N/A
19  DISCA    53.820              0.878976                     N/A
20   NWSA    24.315              0.872753                     N/A
21    ALB   162.340              0.858625                     N/A
22   APTV   148.000               0.84434                     N/A
23    FDX   260.750              0.805851                     N/A
24    TPR    43.110              0.800369                     N/A
25   TSCO   160.110              0.774889                     N/A
26   QCOM   140.760              0.767383                     N/A
27    CAT   228.160              0.765742                     N/A
28   QRVO   177.930              0.764529                     N/A
29    MOS    29.853              0.756011                     N/A
30    AMD    86.037              0.754269                     N/A
31    EMN   111.990              0.747663                     N/A
32    UPS   159.440              0.741924                     N/A
33    NWS    23.980              0.739501                     N/A
34   IPGP   233.370              0.738697                     N/A
35    WST   290.180               0.72561                     N/A
36   SNPS   254.420              0.723355                     N/A
37   AVGO   478.240              0.714128                     N/A
38     MU    95.730              0.710935                     N/A
39   SWKS   188.590               0.70609                     N/A
40   AAPL   129.387              0.702096                     N/A
41   TTWO   188.000              0.697191                     N/A
42   MKTX   573.380              0.685387                     N/A
43     MS    79.230              0.682733                     N/A
44    TGT   190.540              0.681189                     N/A
45   ILMN   455.740              0.670757                     N/A
46   MXIM    97.806              0.666516                     N/A
47    GPS    25.620              0.657983                     N/A
48    CMG  1520.440              0.655861                     N/A
49  DISCK    44.800              0.654729                     N/A
50    CMI   267.460              0.647567                     N/A

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [8]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

portfolio_input()
print(portfolio_size)

Enter the value of your portfolio:10000
10000

In [9]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

   Ticker     Price One-Year Price Return Number of Shares to Buy
0     FCX    35.350               2.37054                       5
1    CARR    38.140               2.10063                       5
2    VIAC    66.020               1.62054                       2
3    ALGN   581.820               1.44039                       0
4    PYPL   260.300               1.37238                       0
5     PWR    88.010                1.2849                       2
6      LB    58.075                1.2777                       3
7    ZBRA   522.880               1.26522                       0
8    SIVB   524.253               1.25767                       0
9     URI   305.380               1.20384                       0
10     DE   364.170               1.17958                       0
11   TWTR    80.280               1.13373                       2
12   KLAC   312.830                1.1077                       0
13   NVDA   562.730               1.05284                       0
14   IDXX   528.900               1.04344                       0
15   ABMD   335.390               1.03983                       0
16   CDNS   148.730               1.02347                       1
17   AMAT   122.920              0.961511                       1
18   LRCX   599.850              0.937135                       0
19  DISCA    53.820              0.878976                       3
20   NWSA    24.315              0.872753                       8
21    ALB   162.340              0.858625                       1
22   APTV   148.000               0.84434                       1
23    FDX   260.750              0.805851                       0
24    TPR    43.110              0.800369                       4
25   TSCO   160.110              0.774889                       1
26   QCOM   140.760              0.767383                       1
27    CAT   228.160              0.765742                       0
28   QRVO   177.930              0.764529                       1
29    MOS    29.853              0.756011                       6
30    AMD    86.037              0.754269                       2
31    EMN   111.990              0.747663                       1
32    UPS   159.440              0.741924                       1
33    NWS    23.980              0.739501                       8
34   IPGP   233.370              0.738697                       0
35    WST   290.180               0.72561                       0
36   SNPS   254.420              0.723355                       0
37   AVGO   478.240              0.714128                       0
38     MU    95.730              0.710935                       2
39   SWKS   188.590               0.70609                       1
40   AAPL   129.387              0.702096                       1
41   TTWO   188.000              0.697191                       1
42   MKTX   573.380              0.685387                       0
43     MS    79.230              0.682733                       2
44    TGT   190.540              0.681189                       1
45   ILMN   455.740              0.670757                       0
46   MXIM    97.806              0.666516                       2
47    GPS    25.620              0.657983                       7
48    CMG  1520.440              0.655861                       0
49  DISCK    44.800              0.654729                       4
50    CMI   267.460              0.647567                       0

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

In [10]:
hqm_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = hqm_columns), 
                                        ignore_index = True)
        
hqm_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'One-Year Price Return',
       'One-Year Return Percentile', 'Six-Month Price Return',
       'Six-Month Return Percentile', 'Three-Month Price Return',
       'Three-Month Return Percentile', 'One-Month Price Return',
       'One-Month Return Percentile', 'HQM Score'],
      dtype='object')

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

In [11]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        change_col = f'{time_period} Price Return'
        percentile_col = f'{time_period} Return Percentile'
        if hqm_dataframe.loc[row, change_col] == None:
            hqm_dataframe.loc[row, change_col] = 0.0


for row in hqm_dataframe.index:
    for time_period in time_periods:
        change_col = f'{time_period} Price Return'
        percentile_col = f'{time_period} Return Percentile'
        hqm_dataframe.loc[row, percentile_col] = stats.percentileofscore(hqm_dataframe[change_col], hqm_dataframe.loc[row, change_col])
        
# Print each percentile score to make sure it was calculated properly
for time_period in time_periods:
    print(hqm_dataframe[f'{time_period} Return Percentile'])

#Print the entire DataFrame    
hqm_dataframe

0      88.5149
1      12.8713
2      51.4851
3      92.4752
4      61.5842
        ...
500    36.6337
501    39.0099
502    99.0099
503    71.2871
504     49.505
Name: One-Year Return Percentile, Length: 505, dtype: object
0       59.604
1      87.9208
2      26.1386
3      15.2475
4      47.9208
        ...
500    37.4257
501    52.4752
502    94.8515
503     90.495
504    17.6238
Name: Six-Month Return Percentile, Length: 505, dtype: object
0       49.703
1      95.6436
2      52.4752
3      43.3663
4      42.9703
        ...
500    27.1287
501    57.2277
502    93.6634
503    92.8713
504    24.3564
Name: Three-Month Return Percentile, Length: 505, dtype: object
0       30.297
1       99.604
2      45.5446
3      1.38614
4       30.099
        ...
500    41.7822
501    54.8515
502    95.0495
503    89.1089
504     29.505
Name: One-Month Return Percentile, Length: 505, dtype: object

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,124.48,N/A,0.599222,88.5149,0.248918,59.604,0.0720136,49.703,-0.0274904,30.297,N/A
1,AAL,21.60,N/A,-0.101706,12.8713,0.612218,87.9208,0.396711,95.6436,0.36552,99.604,N/A
2,AAP,168.83,N/A,0.18487,51.4851,0.033799,26.1386,0.0796607,52.4752,0.00655066,45.5446,N/A
3,AAPL,125.43,N/A,0.720258,92.4752,-0.0282897,15.2475,0.0462596,43.3663,-0.156897,1.38614,N/A
4,ABBV,111.96,N/A,0.275241,61.5842,0.173077,47.9208,0.0440973,42.9703,-0.0289678,30.099,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,109.63,N/A,0.0920969,36.6337,0.0973719,37.4257,-0.0138155,27.1287,-0.000574709,41.7822,N/A
501,ZBH,168.22,N/A,0.110432,39.0099,0.200488,52.4752,0.101922,57.2277,0.0335645,54.8515,N/A
502,ZBRA,507.47,N/A,1.31238,99.0099,0.806327,94.8515,0.351141,93.6634,0.239549,95.0495,N/A
503,ZION,53.72,N/A,0.338451,71.2871,0.6775,90.495,0.342914,92.8713,0.169313,89.1089,N/A
504,ZTS,163.10,N/A,0.1708,49.505,-0.012388,17.6238,-0.0231805,24.3564,-0.0315366,29.505,N/A

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

In [12]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

In [13]:
hqm_dataframe.sort_values(by = 'HQM Score', ascending = False)
hqm_dataframe = hqm_dataframe[:51]

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

In [14]:
portfolio_input()

Enter the value of your portfolio:10000

In [15]:
position_size = float(portfolio_size) / len(hqm_dataframe.index)
for i in range(0, len(hqm_dataframe['Ticker'])-1):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe['Price'][i])
hqm_dataframe

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,124.480,1,0.599222,88.5149,0.248918,59.604,0.0720136,49.703,-0.0274904,30.297,57.0297
1,AAL,21.600,9,-0.101706,12.8713,0.612218,87.9208,0.396711,95.6436,0.36552,99.604,74.0099
2,AAP,168.830,1,0.18487,51.4851,0.033799,26.1386,0.0796607,52.4752,0.00655066,45.5446,43.9109
3,AAPL,125.430,1,0.720258,92.4752,-0.0282897,15.2475,0.0462596,43.3663,-0.156897,1.38614,38.1188
4,ABBV,111.960,1,0.275241,61.5842,0.173077,47.9208,0.0440973,42.9703,-0.0289678,30.099,45.6436
5,ABC,101.922,1,0.126937,42.5743,0.0553375,29.3069,0.0016974,32.0792,-0.0344487,28.7129,33.1683
6,ABMD,338.000,0,1.06121,97.2277,0.0315231,25.9406,0.222883,79.2079,-0.082487,12.6733,53.7624
7,ABT,125.360,1,0.525716,84.3564,0.201575,52.6733,0.153192,69.3069,0.0598804,63.1683,67.3762
8,ACN,258.630,0,0.310432,67.9208,0.0748059,33.6634,0.0218032,39.0099,0.00719339,46.5347,46.7822
9,ADBE,463.065,0,0.324313,69.3069,-0.0539449,11.8812,-0.0235714,24.1584,-0.0308352,29.703,33.7624
10,ADI,163.460,1,0.385223,75.6436,0.306223,67.1287,0.14701,68.3168,0.00412904,44.5545,63.9109
11,ADM,60.200,3,0.472258,80.198,0.328518,69.1089,0.148682,68.7129,0.0903399,74.6535,73.1683
12,ADP,176.600,1,0.0792164,34.0594,0.263761,61.7822,0.0141373,37.0297,0.0751718,68.5149,50.3465
13,ADSK,293.060,0,0.54506,86.1386,0.126866,42.1782,0.0488405,43.9604,-0.0340233,28.9109,50.297
14,AEE,74.040,2,-0.129697,9.90099,-0.098644,6.13861,-0.113179,3.9604,-0.0508283,23.3663,10.8416
15,AEP,78.160,2,-0.197946,5.34653,-0.0273174,15.6436,-0.10201,5.34653,-0.0699062,16.4356,10.6931
16,AES,27.850,7,0.423577,77.6238,0.513918,82.3762,0.268207,85.3465,0.0117351,48.5149,73.4653
17,AFL,49.440,3,0.0429059,29.3069,0.332669,69.505,0.0694766,49.1089,0.045958,59.2079,51.7822
18,AIG,45.980,4,0.0131314,24.7525,0.522622,82.7723,0.107907,58.2178,0.115078,78.8119,61.1386
19,AIV,4.829,40,-0.283649,1.78218,0.047879,28.1188,0.173146,72.4752,0.0252094,52.0792,38.6139
20,AIZ,126.034,1,-0.0498645,17.0297,0.030822,25.7426,-0.0739936,11.4851,-0.0541918,21.1881,18.8614
21,AJG,125.380,1,0.193175,53.2673,0.178303,48.5149,0.0513062,44.9505,0.0275142,53.0693,49.9505
22,AKAM,98.000,2,0.0190784,25.9406,-0.141655,2.57426,-0.0820007,9.30693,-0.143965,2.37624,10.0495
23,ALB,164.430,1,0.821604,95.6436,0.709507,91.8812,0.144453,67.1287,-0.137491,2.9703,64.4059
24,ALGN,571.020,0,1.42453,99.4059,0.895033,96.4356,0.181202,73.8614,0.032365,54.6535,81.0891
25,ALK,66.650,2,0.119675,40.7921,0.754039,93.4653,0.260191,84.7525,0.239995,95.2475,78.5644
26,ALL,109.435,1,-0.0529738,16.2376,0.178186,48.3168,0.0542677,45.7426,-0.0199553,32.8713,35.7921
27,ALLE,112.281,1,-0.122608,10.6931,0.0628204,31.0891,-0.0637707,14.4554,-0.0411958,26.1386,20.5941
28,ALXN,157.840,1,0.602343,88.7129,0.495338,80.396,0.256478,84.1584,-0.0491082,24.5545,69.4554
29,AMAT,122.900,1,0.997492,96.6337,0.790822,94.4554,0.424926,96.6337,0.0584476,62.5743,87.5743
30,AMCR,11.340,17,0.239687,57.0297,0.0757425,33.8614,-0.0114144,28.5149,0.0450325,59.0099,44.604
31,AMD,87.602,2,0.737271,93.0693,-0.0455164,12.4752,-0.0503248,18.0198,-0.12523,3.76238,31.8317
32,AME,121.050,1,0.333359,70.297,0.196445,52.0792,0.00581069,34.0594,0.0349162,55.2475,52.9208
33,AMGN,235.860,0,0.116369,40,-0.0724105,9.90099,0.0424084,42.7723,-0.111471,4.75248,24.3564
34,AMP,233.981,0,0.488632,81.7822,0.449889,78.4158,0.190848,75.4455,0.0663679,65.7426,75.3465
35,AMT,222.630,0,-0.0704469,15.0495,-0.080518,8.31683,-0.0304285,21.7822,-0.0125574,37.2277,20.5941
36,AMZN,3171.130,0,0.57153,87.3267,-0.0884682,7.32673,-0.041002,20.396,-0.0732206,15.2475,32.5743
37,ANET,286.905,0,0.365657,73.8614,0.283034,64.3564,0.0365248,41.9802,-0.0900788,9.30693,47.3762
38,ANSS,356.750,0,0.283214,63.3663,0.0369292,26.3366,0.0499195,44.5545,-0.0834119,12.2772,36.6337
39,ANTM,317.470,0,0.139721,45.5446,0.0939465,36.8317,-0.0262206,23.3663,-0.0498942,23.9604,32.4257
40,AON,232.300,0,0.496965,82.5743,0.208223,54.0594,0.112501,59.604,0.112985,78.6139,68.7129
41,AOS,60.400,3,0.501436,83.1683,0.240311,58.8119,0.0743727,50.297,0.065597,65.1485,64.3564
42,APA,19.900,9,-0.20723,5.14851,0.379655,73.2673,0.441853,97.4257,0.281078,97.2277,68.2673
43,APD,264.940,0,0.133127,44.1584,-0.0926378,6.73267,-0.0620293,15.2475,-0.0680313,17.2277,20.8416
44,APH,131.270,1,0.334905,70.495,0.156633,46.7327,-0.0412139,20.198,-0.059273,19.0099,39.1089
45,APTV,149.720,1,0.848385,95.8416,0.732956,92.8713,0.252346,83.3663,0.0619172,63.9604,84.0099
46,ARE,164.510,1,0.0199611,26.1386,-0.0375956,13.8614,0.00558413,33.6634,-0.0419734,25.9406,24.901
47,ATO,88.907,2,-0.210751,4.55446,-0.119476,4.35644,-0.109426,4.55446,-0.0187268,33.4653,11.7327
48,ATVI,100.800,1,0.638417,89.703,0.141966,44.1584,0.249208,82.9703,0.0187464,49.901,66.6832
49,AVB,187.190,1,-0.156016,8.51485,0.189514,50.6931,0.0662809,48.1188,0.0857335,72.2772,44.901
50,AVGO,490.702,N/A,0.723244,92.6733,0.391713,74.2574,0.180736,73.4653,-0.0171433,35.0495,68.8614

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [16]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [17]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [18]:
column_formats = { 
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['One-Year Price Return', percent_template],
                    'E': ['One-Year Return Percentile', percent_template],
                    'F': ['Six-Month Price Return', percent_template],
                    'G': ['Six-Month Return Percentile', percent_template],
                    'H': ['Three-Month Price Return', percent_template],
                    'I': ['Three-Month Return Percentile', percent_template],
                    'J': ['One-Month Price Return', percent_template],
                    'K': ['One-Month Return Percentile', percent_template],
                    'L': ['HQM Score', integer_template]
                    }

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

## Saving Our Excel Output

As before, saving our Excel output is very easy:

In [19]:
writer.save()